# crontab file

# # Run each script once per day at midnight, redirecting output to the log file
# 0 0 * * * /usr/local/bin/python3 /app/src/etl_listen_history.py >> /var/log/cron.log 2>&1
# 0 0 * * * /usr/local/bin/python3 /app/src/etl_tracks.py >> /var/log/cron.log 2>&1
# 0 0 * * * /usr/local/bin/python3 /app/src/etl_users.py >> /var/log/cron.log 2>&1

# DEV and TEST - Run each script once per minute, redirecting output to the log file
* * * * * /usr/local/bin/python3 /app/src/etl_listen_history.py >> /var/log/cron.log 2>&1
* * * * * /usr/local/bin/python3 /app/src/etl_tracks.py >> /var/log/cron.log 2>&1
* * * * * /usr/local/bin/python3 /app/src/etl_users.py >> /var/log/cron.log 2>&1
